botocore>=1.12.198,<1.24.0
boto3>=1.9.198,<1.21.0
click==8.0.3
decorator==4.4.2
Flask==2.0.0
Flask-WTF==1.0.0
gunicorn==20.1.0
importlib-metadata==4.8.2
itsdangerous==2.0.1
Jinja2==3.0.1
jmespath==0.10.0
MarkupSafe==2.0.1
mpmath==1.2.1
networkx==2.5.1
numpy==1.19.5
psutil==5.8.0
python-dateutil==2.8.2
s3transfer==0.4.2
six==1.16.0
sly==0.4
sympy==1.9
typing-extensions==3.10.0.0
urllib3==1.26.4
Werkzeug==2.0.2
WTForms==3.0.0
zipp==3.6.0
sly==0.4
flake8==4.0.1
pep8==1.7.1
pyflakes==2.4.0
pycodestyle==2.8.0
python-Levenshtein==0.12.2
